@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

 body {
    background-color: #f0f0f0;
    background-size: 7.07px 7.07px;
    font-family: Roboto;
    color: black;
    margin: 0;
    padding: 0;
}

.header {
  padding: 60px;
  padding-left: 300px;
  text-align: left;
  background-image: url("../guitarheader.jpg");
  background-size: 100% auto;
  color: white;
  font-size: 30px;
  margin: 0;
}

.acousticheader {
  padding: 60px;
  padding-left: 300px;
  text-align: left;
  background-image: url("../acousticheader.jpg");
  background-size: 100% auto;
  color: white;
  font-size: 30px;
}

.basheader {
  padding: 60px;
  padding-left: 300px;
  text-align: left;
  background-image: url("../basheader.jpg");
  background-size: 100% auto;
  color: white;
  font-size: 30px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.header h1 {
  text-shadow: 0px 0px 20px #000000;
}

.logo {
  background-color: #242424;
  list-style-type: none;
  overflow: visible;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0px;
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.navbar ul {
  background-color: #242424;
  list-style-type: none;
  overflow: visible;
  margin: 0;
  padding: 0;
  right: 0px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 9999;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
  width: 100px;
  height: 50px;

}

.navbar li a:hover {
  background-color: #2e2e2e;
}

#myBtnContainer {
  height: 1000px ;
  width: 200px;
  position: fixed;
  z-index: 100;
  background-color: #242424;
  border-top-right-radius: 25px;
}

#myBtnContainer button {
  background-color: #242424;
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 16px;
  border: none;
  width: 100%;
}

#myBtnContainer h1, h2, h3 {
  color: white;
  text-align: center;
}

#myBtnContainer button:hover {
  background-color: #2e2e2e;
}

.show {
  display: block;
}

.description {
  padding: 15px;
  text-align: center;
}

.guitars {
 margin:0 auto;
 margin-left: 150px;
}

.flip-card {
  background-color: #f0f0f0;
  width: 300px;
  height: 600px;
  font-family: Roboto;
  float: left;
  margin: 50px;
}

.flip-card img {
    width: auto;
    height: 600px;
}

.flip-card-inner {
  margin: 80px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.025);
  border-radius: 25px;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-black, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: white;
  border-radius: 25px;
}

.flip-card-back {
  background-color: white;
  color: black;
  font-family: Roboto;
  transform: rotateY(180deg);
  border-radius: 25px;
}

.flip-card-back p {
  margin: 25px;
}

.price {
  font-family: Roboto;
  font-weight: bold;
  font-size: 35px;
  color: #6e6e6e;
}

.sale {
  font-family: Roboto;
  font-weight: bold;
  text-decoration: line-through;
  font-size: 25px;
  color: #8f8f8f;
}

.sold {
  font-family: Roboto;
  font-weight: bold;
  font-size: 35px;
  color: #cc0000;
}

.flip-card-back button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #242424;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  position: absolute;
  right: 0;
  bottom: 0;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  padding-top: 75px;
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.filterDiv {
  display: none;
}

.show {
  display: block;
}
